<!DOCTYPE html>
<html lang="en">
<% include header %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bitcoin Brain Wallet Test Page Page</title>
    </head>

    <body>
        <div>
            <p>Create Brain Wallet</p>
            <form method="post" action="/wallet">
                <input type="text" name="brainsrc">
                <input type="submit" name="Make it!">
            </form>
        </div>
    </body>

</html>